Repository GoogleChrome/android-browser-helper, pull requests merged in 2020-03, with the labels that each got.

#77 Improves the WebView Fallback Demo
  demos/twa-webview-fallback/src/main/AndroidManifest.xml
  demos/twa-webview-fallback/src/main/java/com/google/browser/examples/twawebviewfallback/WebViewFallbackActivity.java
  demos/twa-webview-fallback/src/main/res/values/strings.xml
Labels: demo, enhancement

#78 Moves the WebViewFallback into the library
  androidbrowserhelper/src/main/java/com/google/androidbrowserhelper/trusted/LauncherActivity.java
  androidbrowserhelper/src/main/java/com/google/androidbrowserhelper/trusted/LauncherActivityMetadata.java
  androidbrowserhelper/src/main/java/com/google/androidbrowserhelper/trusted/TwaLauncher.java
  androidbrowserhelper/src/main/java/com/google/androidbrowserhelper/trusted/WebViewFallbackActivity.java
  demos/twa-webview-fallback/src/main/AndroidManifest.xml
  demos/twa-webview-fallback/src/main/java/com/google/browser/examples/twawebviewfallback/MyLauncherActivity.java
  demos/twa-webview-fallback/src/main/res/values/strings.xml
Labels: enhancement

#76 update gradle and avoid leaked service connection in sample
  build.gradle
  demos/twa-custom-launcher/src/main/java/com/google/androidbrowserhelper/launchtwa/LaunchTwaActivity.java
  gradle/wrapper/gradle-wrapper.properties
Labels: bug, demo
